__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env
outputs/
*.mp4
.vscode
/data-mask-r-cnn/
data-mask-r-cnn/
football_dataset/
football_dataset_coco/
model_comparison/
datasets/
data-faster-r-cnn/
data-new/
data-old/
logs/elias/inference/full
logs/elias/train/full
runs/
gt-tracking/
TrackEval/
TrackEval/trackeval