__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env
outputs/
*.mp4
.vscode
/data-mask-r-cnn/
data-mask-r-cnn/
football_dataset/
football_dataset_coco/
model_comparison/

# Model checkpoints and weights
*.pth
*.pt
runs/
track_output/

# RF-DETR outputs
rf-detr-medium.pth
